<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quản lý khuyến mãi</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/promotions.css" />
  </head>
  <body>
    <div class="container-fluid">
      <div th:replace="header.html"></div>
      <div class="row">
        <div
          th:replace="sidebar.html"
          class="col-md-2 d-none d-md-block bg-light sidebar"
        ></div>
        <main class="col-md-10 ms-auto px-md-4">
          <h1>Quản lý khuyến mãi</h1>
          <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
          >
            <h3>Danh sách khuyến mãi</h3>
            <button class="btn btn-primary" onclick="openDialog('add')">
              Thêm mới
            </button>
          </div>

          <!-- Tìm kiếm -->
          <input
            type="text"
            id="searchInput"
            class="form-control"
            placeholder="Tìm kiếm sản phẩm......"
            onkeyup="searchPromotions()"
          />

          <table class="table table-hover">
            <thead>
              <tr>
                <th>Mã khuyến mãi</th>
                <th>Giá trị khuyến mãi</th>
                <th>Thời hạn</th>
                <th>Tối thiểu</th>
                <th>Đã dùng</th>
                <th>Còn lại</th>
                <th>Danh sách</th>
                <th>Thao tác</th>
              </tr>
            </thead>
            <tbody id="list">
              <tr th:each="discount : ${discounts}">
                <td th:text="${discount.discountID}"></td>
                <td th:text="${discount.discount} + '%'"></td>
                <td
                  th:text="${discount.startTime} + ' - ' + ${discount.endTime}"
                ></td>
                <td
                  th:text="${#numbers.formatInteger(discount.minimum, 0, 'COMMA')}+đ"
                ></td>
                <td th:text="${totalQuantitys[discount.discountID]}"></td>
                <td th:text="${discount.quantity}"></td>
                <td>
                  <a
                    th:href="@{/discount/list/listDiscountProduct/{discountID}(discountID=${discount.discountID})}"
                  >
                    List
                  </a>
                </td>
                <td>
                  <button
                    class="btn btn-warning btn-sm"
                    th:attr="onclick='openDialog(&quot;edit&quot;, &quot;' + ${discount.discountID} + '&quot;, &quot;' + ${discount.discount} + '&quot;, &quot;' + ${discount.startTime} + '&quot;, &quot;' + ${discount.endTime} + '&quot;, &quot;' + ${discount.minimum} + '&quot;, &quot;' + ${discount.quantity} + '&quot;)'"
                  >
                    <i class="fas fa-edit"></i>
                  </button>
                  <form
                    th:action="@{delete/{id}(id=${discount.discountID})}"
                    method="post"
                    style="display: inline"
                  >
                    <button
                      type="submit"
                      class="btn btn-danger btn-sm"
                      onclick="return confirm('Bạn có chắc chắn muốn xóa khuyến mãi này không?');"
                    >
                      <i class="fa-solid fa-trash"></i>
                    </button>
                  </form>
                </td>
              </tr>
            </tbody>
          </table>

          <div id="pagination" class="d-flex justify-content-center mt-4"></div>
          <!-- FORM -->
          <form th:action="@{add}" th:object="${discount}" method="post">
            <div
              class="modal fade"
              id="dialog"
              tabindex="-1"
              aria-labelledby="dialogLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="dialogLabel">
                      Thêm mới khuyến mãi
                    </h5>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">
                    <div id="addEditContent" style="display: block">
                      <div class="mb-3" id="stylePromoCode">
                        <label for="discountID" class="form-label"
                          >Mã khuyến mãi</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          id="discountID"
                          name="discountID"
                          required
                        />
                      </div>
                      <div class="mb-3">
                        <label for="discount" class="form-label"
                          >Giá trị khuyến mãi</label
                        >
                        <input
                          type="number"
                          class="form-control"
                          id="discount"
                          name="discount"
                          required
                        />
                      </div>
                      <div class="mb-3">
                        <label for="startTime" class="form-label"
                          >Thời gian bắt đầu</label
                        >
                        <input
                          type="datetime-local"
                          class="form-control"
                          id="startTime"
                          name="startTime"
                          required
                        />
                      </div>
                      <div class="mb-3">
                        <label for="endTime" class="form-label"
                          >Thời gian kết thúc</label
                        >
                        <input
                          type="datetime-local"
                          class="form-control"
                          id="endTime"
                          name="endTime"
                          required
                        />
                      </div>
                      <div class="mb-3">
                        <label for="minimum" class="form-label"
                          >Tối thiểu</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          id="minimum"
                          name="minimum"
                          required
                        />
                      </div>
                      <div class="mb-3">
                        <label for="quantity" class="form-label">Còn lại</label>
                        <input
                          type="number"
                          class="form-control"
                          id="quantity"
                          name="quantity"
                          required
                        />
                      </div>
                    </div>
                    <div id="deleteContent" style="display: none">
                      <p>Bạn có chắc chắn muốn xóa khuyến mãi này không?</p>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >
                      Hủy
                    </button>
                    <button
                      type="submit"
                      class="btn btn-primary"
                      id="confirmButton"
                    >
                      Xác nhận
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <div id="notification" class="mt-3"></div>
        </main>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/promotions.js"></script>
    <script src="/js/pagination.js"></script>
  </body>
</html>
