<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sản phẩm được áp dụng mã giảm giá</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/importProduct.css" />
  </head>
  <body>
    <div class="container-fluid">
      <div th:replace="header.html"></div>
      <div class="row">
        <div
          th:replace="sidebar.html"
          class="col-md-2 d-none d-md-block bg-light sidebar"
        ></div>
        <main class="col-md-10 ms-auto px-md-4">
          <h1>Sản phẩm được áp dụng mã giảm giá</h1>
          <a th:href="@{/discount/list}" class="nav-link">
            <i class="fa-solid fa-warehouse"></i>
            <span>Trở về</span>
            <i class="fa-solid fa-chevron-right"></i>
          </a>
          <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
          >
            <h3>Danh sách sản phẩm</h3>
          </div>

          <div class="table-responsive" style="width: 68%">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Mã đơn</th>
                  <th>Mã hàng</th>
                  <th>Mã giảm giá</th>
                  <th>Tên hàng</th>
                  <th>Số lượng</th>
                </tr>
              </thead>
              <tbody id="list">
                <tr th:each="orderProduct : ${listDiscountProduct}">
                  <td th:text="${orderProduct.orders.orderID}"></td>
                  <td th:text="${orderProduct.products.productID}"></td>
                  <td th:text="${orderProduct.discount.discountID}"></td>
                  <td th:text="${orderProduct.products.ProductName}"></td>
                  <td th:text="${orderProduct.quantity}"></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div id="pagination" class="d-flex justify-content-center mt-4"></div>
        </main>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

    <script src="/js/pagination.js"></script>
  </body>
</html>
