<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Đăng Nhập</title>
    <link rel="stylesheet" href="css/login_style.css" />
    <script
      src="https://kit.fontawesome.com/dfe1904133.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <main>
      <div class="login-form">
        <img src="img/logo.png" alt="Logo" class="logo" />
          <form th:action="@{login}" method="post">
          <div class="input-box">
            <i class="icon">
              <img src="img/person.png" alt="icon-person" class="icon-img" />
            </i>
            <input
              type="text"
              name="username"
              required
              placeholder="Tên đăng nhập"
            />
          </div>
          <div class="input-box">
            <i class="icon">
              <img src="img/key.png" alt="icon-key" class="icon-img" />
            </i>
            <input
              type="password"
              id="password"
              name="password"
              required
              placeholder="Mật khẩu"
            />
            <i class="toggle-password" id="togglePassword">
              <img
                src="img/eye_show.png"
                alt="toggle visibility"
                class="toggle-icon"
              />
            </i>
          </div>

          <div class="remember-forgot">
            <a th:href="@{/password-reset}" class="r-f_text">Quên mật khẩu?</a>
          </div>

          <div class="login">
            <button type="submit" class="btn" name="btnLogin" value="login">
              Đăng nhập
            </button>
          </div>
          <div th:if="${error}" class="error-message">
            <p th:text="${error}"></p>
          </div>
        </form>
      </div>
    </main>
    <footer></footer>
    <script src="/js/login.js"></script>
  </body>
</html>
