<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đặt lại mật khẩu mới</title>
    <link rel="stylesheet" href="/css/pass.css">
</head>
<body>
    <form action="/password-reset/update-password" method="POST">
        <h1>Đặt lại mật khẩu mới</h1>

        <input type="hidden" id="email" name="email" th:value="${email}">

        <label for="newPassword">Mật khẩu mới:</label>
        <div class="input-box">
          <input
            type="password"
            id="newPassword"
            name="newPassword"
            required
            placeholder="Mật khẩu"
          />
          <i class="toggle-password" id="togglePassword">
            <img
              src="/img/eye_show.png"
              alt="toggle visibility"
              class="toggle-icon"
            />
          </i>
        </div>

        <button type="submit">Cập nhật mật khẩu</button>
    </form>
    <script src="/js/pass.js"></script>
</body>
</html>
