<html lang="en">
  <head xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=fomr, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/login_style.css" />
    <script
      src="https://kit.fontawesome.com/dfe1904133.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header></header>

    <main>
      <div class="login-form">
        <img src="image/logo-nhanh-black.svg" alt="Logo" class="logo" />
        <div class="input-box">
          <i class="icon">
            <img src="image/person.png" alt="icon-person" class="icon-img" />
          </i>
          <input
            type="text"
            name="username"
            required
            placeholder="Tên đăng nhập"
          />
        </div>
        <div class="input-box">
          <i class="icon">
            <img src="image/key.png" alt="icon-key" class="icon-img" />
          </i>
          <input
            type="password"
            name="password"
            required
            placeholder="Mật khẩu"
          />
        </div>
        <div class="remember-forgot">
          <a href="#" class="r-f_text">Quên mật khẩu?</a>
        </div>

        <div class="login">
          <button type="submit" class="btn" name="btnLogin" value="login">
            Đăng nhập
          </button>
        </div>

        <div class="login-with">
          <a href="#"
            ><img
              class="btn1"
              alt="google"
              src="https://pos.nvnstatic.net/assets/img/login/btn_social_google.png"
          /></a>
          <a href="#"
            ><img
              class="btn1"
              alt="facebook"
              src="https://pos.nvnstatic.net/assets/img/login/btn_social_facebook.png"
          /></a>
        </div>

        <div class="separator">
          <span>Bạn chưa có tài khoản?</span>
        </div>

        <div class="register">
          <a href="form_register.html" style="text-decoration: none"
            ><button
              type="submit"
              class="btn2"
              name="btn_register"
              value="login"
            >
              Đăng ký
            </button></a
          >
        </div>

        <div class="note">
          <p>
            Bằng cách tiếp tục đăng nhập, bạn xác nhận đồng ý với
            <a href="#" style="color: #0c83ff; text-decoration: none"
              >điều khoản & chính sách sử dụng</a
            >
            của chúng tôi.
          </p>
        </div>
      </div>
    </main>

    <footer></footer>
  </body>
  <script src="resources/js/login_script.js"></script>
  <script
    type="module"
    src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
  ></script>
  <script
    nomodule
    src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
  ></script>
</html>
