<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Phần mềm quản lý siêu thị</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/sidebar.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="position-sticky">
            <ul class="nav flex-column">
              <hr />
              <li class="nav-item">
                <a th:href="@{/user/list}" class="nav-link">
                  <i class="fa-solid fa-user"></i>
                  <span>Quản lý tài khoản</span>
                  <i class="fa-solid fa-chevron-right"></i>
                </a>
              </li>
              <hr />
              <li class="nav-item">
                <a th:href="@{/permission/list/null}" class="nav-link">
                  <i class="fa-solid fa-user-group"></i>
                  <span>Quản lý vai trò</span>
                  <i class="fa-solid fa-chevron-right"></i>
                </a>
              </li>
              <hr />
              <li class="nav-item">
                <a th:href="@{/product/list}" class="nav-link">
                  <i class="fa-solid fa-box"></i>
                  <span>Quản lý sản phẩm</span>
                  <i class="fa-solid fa-chevron-right"></i>
                </a>
              </li>
              <hr />
              <li class="nav-item">
                <a th:href="@{/import/list/0}" class="nav-link">
                  <i class="fa-solid fa-warehouse"></i>
                  <span>Quản lý nhập hàng</span>
                  <i class="fa-solid fa-chevron-right"></i>
                </a>
              </li>
              <hr />
              <li class="nav-item">
                <a th:href="@{/invoice/list}" class="nav-link">
                  <i class="fa-solid fa-receipt"></i>
                  <span>Quản lý tài chính</span>
                  <i class="fa-solid fa-chevron-right"></i>
                </a>
              </li>
              <hr />
              <li class="nav-item">
                <a th:href="@{/order/list}" class="nav-link">
                  <i class="fa-solid fa-file-invoice"></i>
                  <span>Quản lý đơn hàng</span>
                  <i class="fa-solid fa-chevron-right"></i>
                </a>
              </li>
              <hr />
              <li class="nav-item">
                <a th:href="@{/discount/list}" class="nav-link">
                  <i class="fa-solid fa-bullhorn"></i>
                  <span>Quản lý khuyến mãi</span>
                  <i class="fa-solid fa-chevron-right"></i>
                </a>
              </li>
              <hr />
              <li class="nav-item">
                <a th:href="@{/chuyentrangreports}" class="nav-link">
                  <i class="fa-solid fa-square-poll-vertical"></i>
                  <span>Báo cáo và thống kê</span>
                  <i class="fa-solid fa-chevron-right"></i>
                </a>
              </li>

              <hr />
            </ul>
          </div>
        </nav>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
