.sidebar {
  height: 100vh;
  padding: 0;
  width: 320px;
  position: fixed;
  font-weight: bold;
  background-color: #000 !important;
  overflow-y: auto;
  z-index: 1000;
}

.sidebar ul {
  padding: 0;
  list-style: none;
  margin-top: 70px;
}

.sidebar li {
  position: relative;
  padding: 10px;
  transition: font-weight 0.3s ease, background-color 0.3s ease;
  margin-bottom: 0;
  color: #fff;
}

.sidebar hr {
  margin: 20px 0;
  height: 1px;
  color: #fff;
}

.sidebar li:hover {
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.1);
}

.sidebar .nav-link {
  color: #fff;
  transition: color 0.3s ease, opacity 0.3s ease;
  text-decoration: none;
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.sidebar .nav-link i {
  margin-right: 10px;
}

.sidebar .nav-link span {
  flex-grow: 1;
}

.sidebar .nav-link:hover {
  color: #fff !important;
}

.sidebar .submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 250px;
  padding: 10px;
  border-radius: 5px;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-height: 300px;
  overflow-y: auto;
  margin-top: -5px;
}

.sidebar .submenu ul {
  padding: 0;
  list-style: none;
  margin-top: -5px;
}

.sidebar .submenu li {
  color: white;
  font-weight: bold;
  padding: 5px 0;
}

.sidebar .submenu li:hover {
  color: #dc3545;
}

.sidebar li:hover .submenu {
  display: block;
  animation: fadeIn 0.3s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
