.sidebar {
    height: 100vh;
    padding: 0;
    background-color: #f8f9fa;
    width: 320px;
    position: absolute;
}

.sidebar ul {
    padding: 0;
    list-style: none;
    margin-top: 70px;
}

.sidebar li {
    padding: 15px 10px; 
    transition: font-weight 0.3s ease;
    margin-bottom: 10px;
}

.sidebar .nav-link {
    color: black;
    transition: color 0.3s ease;
    text-decoration: none; 
    font-size: 1rem; 
}

.sidebar .nav-link:hover {
    color: #dc3545;
}

.sidebar li:hover {
    font-weight: 600;
}
